body > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

body > [type="checkbox"]:checked ~ header label {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

body > [type="checkbox"]:checked ~ nav {
  transform: translate(0);
  transition: transform 0.3s;
}

body > [type="checkbox"]:checked ~ nav > button {
  transform: translate(0);
  transition: transform 0.3s;
}

[type="checkbox"] {
  visibility: hidden;
}

@media (min-width: 1440px) {
  body > header > label,
  body > header > p {
    display: none;
  }

}
